body {
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url("../images/banner7.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#outline {
    position: relative;
    width: inherit;
    height: inherit;
    border: 1px solid #aeaeae;
    border-radius: 7px;
    background-color: white;
    margin: 0 auto;
    margin-top: 12%;
    box-shadow: 5px 5px 5px #aeaeae;
}

form {
    margin-left: 10px;
}

label {
    color: black;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    margin-left: 10px;
}

input[type=password],
input[type=email] {
    padding-left: 10px;
    margin: 10px;
    margin-top: 1px;
    width: inherit;
    height: 30px;
    border: 1px solid #aeaeae;
    border-radius: 2px;
}

input[type=password]:hover,
input[type=email]:hover {
    border: 1px solid rebeccapurple;
}

button[type=submit] {
    width: 91%;
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    font-weight: bold;
    background-color: rebeccapurple;
    border: 1px solid rebeccapurple;
    border-radius: 2px;
    cursor: pointer;
}

h1,
p {
    color: black;
    font-weight: normal;
    text-align: center;
}

p {
    margin-left: 22px;
    text-align: left;
}

hr {
    width: 20%;
    color: #aeaeae;
}

button>a {
    text-decoration: none;
    color: white;
}